body{
background-image:url('https://ak.picdn.net/shutterstock/videos/32283172/thumb/2.jpg');
background-position: center;
background-size: cover;
}
.column {
  box-sizing: border-box;
  float: left;
  text-align: center;
  width: 50%;
  height: 900px;
}
.column > div > img {
  margin-top: 50px;
  width: 90%;
  height: 60%;
}
.box {
  width: 90%;
  height: 90%;
  border: 5px groove;
  margin: 10%;
  border-color: hotpink;
}
.button {
  background-color: rgba(211,0,0,0.24);
  border-radius: 50%;
  border: 3px groove;
  color: limegreen;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}
.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19)

}
.popup {
	opacity: 0;
	pointer-events: none;
	transition: 0.4s;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
	background-color: rgba(211, 0, 255, 0.2);

	display: flex;
	justify-content: center;
	align-items: center;
	padding: 16px;
}
.popup2 {
	opacity: 0;
	pointer-events: none;
	transition: 0.4s;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
	background-color: rgba(0, 255, 0, 0.2);

	display: flex;
	justify-content: center;
	align-items: center;
	padding: 16px;
}
.popup-inner {
	background-color: lightblue;
	padding: 32px 16px;
	max-width: 768px;
	border-radius: 16px;
	box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.9);
}
.popup-inner h3 {
	color: #666;
	font-size: 24px;
	margin-bottom: 16px;
}

.popup-inner p {
	color: #888;
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 16px;
}
.popup:target {
	opacity: 1;
	pointer-events: all;
}
.popup2:target {
	opacity: 1;
	pointer-events: all;
}
